/src/.deps
/src/*.o
/src/Makefile
/src/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/trrntzip
/stamp-h1
/torrentzip.spec
